@use '/src/App.scss' as g;

.footer_bottom {
    background-color: #fff;
    max-width: 100vw;
    height: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 3rem 2.5%;
    font-size: 2rem;
    font-weight: 600;
    span {
        color: g.$mainColor;
        padding: 0 0 0 4rem;
    }
}
