@use '/src/App.scss' as g;

.inner {
    // min-height: 100vh;
    // display: flex;
    position: relative;
    .title_wrap {
        position: absolute;
        right: 0;
    }
    .collabo-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10rem;

        .MySwiper {
            width: 110rem;
            transform: translateX(-10%);
            margin: 0 auto;
            @include g.flex();
            .swiper-wrapper {
                max-width: 50rem;
                .swiper-slide {
                    scale: 0.8;
                }
                .swiper-slide-active {
                    max-width: 30rem;
                    // background-color: pink;
                    scale: 1;
                }
            }
        }
        .swiper {
            position: relative;
        }
        .swiper-horizontal {
            padding: 10rem;
            overflow: hidden;
        }
        .swiper-button-prev {
            left: -8rem;
        }
        .swiper-button-next {
            right: -8rem;
            transform: none;
        }
    }
}

.product_card {
    border: 2px solid #eee;
    border-radius: 20rem;
    max-width: 30rem;
    height: 60rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-box {
        position: relative;
        background-color: #eee;
        width: 120%;
        transform: translateY(-20%);
        border-radius: 50%;
        aspect-ratio: 1/1;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            scale: 1.2;
            // display: block;
            width: 12rem;
            // width: 100%;
        }
    }
    .text-box {
        @include g.flex($gap: 6rem);
        flex-direction: column;
        .text-title {
            font-weight: 600;
            p:nth-child(2) {
                margin-top: 1rem;
                font-weight: 500;
            }
        }
        .text-price {
            margin: 2rem 0;
        }
    }
    .text-badge {
        span:nth-child(1) {
            background-color: g.$mainColor;
            border-radius: 1rem;
            padding: 0 0.8rem;
            color: #fff;
            margin-right: 1rem;
        }
        span:nth-child(2) {
            background-color: g.$subColor;
            border-radius: 1rem;
            padding: 0 0.8rem;
            color: #fff;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    background-color: #eee;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    &::after {
        color: g.$mainColor;
        font-size: 3rem;
    }
    .swiper-navigation-icon {
        display: none;
    }
}
.swiper-button-prev::after {
    content: '<';
    position: absolute;
    color: g.$mainColor;
    font-weight: 600;
    font-size: 4rem;
}
.swiper-button-next::after {
    content: '>';
    position: absolute;
    color: g.$mainColor;
    font-weight: 600;
    font-size: 4rem;
}
