@use '../../App.scss' as g;

.join_form_wrap {
    max-width: 40rem;
    margin: 0 auto;
    .phone_admit {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        .admit_input {
            padding: 0;
        }
    }
    .required {
        display: flex;
        flex-direction: column;
        .required_title {
            text-align: left;
        }
        .required_input {
            padding: 1.8rem 4rem;
            background-color: #eee;
            border-radius: 5rem;
        }
        .required_content {
            padding: 0.2rem 4rem 1.2rem;
            font-size: 1.2rem;
            color: #8a8a8a;
        }
    }
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
input[type='url'],
input[type='tel'] {
    border: none;
}
