@use '../../App.scss' as g;

.monthly_wrap {
    height: 100vh;
    position: relative;
    overflow: hidden;
    // padding-top: 5rem;

    .inner {
        @include g.flex();
        height: 100vh;
        position: relative;

        .monthly_left {
            width: 50%;
            height: 100vh;
            position: relative;

            .title_wrap {
                @include g.flex($fd: column, $jc: center, $ai: flex-start);
                // height: 100vh;
                padding-top: 25rem;

                .section_title,
                .section_sub_title {
                    text-align: start;
                }
            }

            .jibbitz {
                position: absolute;
                animation: float 4s ease-in-out infinite;
            }

            .jibbitz_img1 {
                right: 35%;
                top: 15%;
                width: 20rem;
                animation-delay: 0s;
            }

            .jibbitz_img2 {
                left: -10%;
                bottom: 20%;
                width: 15rem;
                animation-delay: 1s;
                animation-duration: 5s;
            }

            .jibbitz_img3 {
                right: 20%;
                bottom: 30%;
                width: 12rem;
                animation-delay: 3s;
                animation-duration: 3s;
            }

            // 둥둥 뜨는 keyframes 정의
            @keyframes float {
                0% {
                    transform: translateY(0px);
                }
                50% {
                    transform: translateY(-15px); // 위로 살짝 이동
                }
                100% {
                    transform: translateY(0px);
                }
            }
        }

        .btn_wrap {
            position: absolute;
            top: 50%;
            left: 40%;
            button {
                &::after {
                    content: '';
                }
            }
        }

        .monthly_right {
            position: absolute;
            left: 50%;
            top: 0;
            width: 300rem;
            height: 100vh;
            background: #eee;
            padding-left: 20rem;
            // overflow: hidden;
            transition: transform 0.5s ease-in-out;
            transform: translateX(0);

            &.active {
                transform: translateX(-50%);
            }

            .monthly_card_wrap {
                @include g.flex($fw: wrap);
                height: 100vh;

                .monthly_card_list {
                    @include g.flex($gap: 8rem);

                    .monthly_card {
                        .card_img {
                            position: relative;

                            .main_img {
                                position: relative;
                                width: 40rem;
                                height: 52rem;
                            }
                            .a_img {
                                position: absolute;
                                z-index: 100;
                                max-width: none;
                                height: 70rem;
                            }

                            .a_img_1 {
                                top: 60%;
                                left: 45%;
                                transform: translate(-50%, -50%);
                            }

                            .a_img_2 {
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                z-index: 600;
                            }

                            .a_img_3 {
                                top: 45%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                height: 85rem;
                                z-index: 600;
                            }

                            .a_img_4 {
                                top: 55%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }

                    .item_card {
                        .item_box {
                            @include g.flex($gap: null);
                            position: absolute;
                            z-index: 500;
                            border: 0.5px solid #ccc;
                            border-radius: 1rem;

                            .img_box {
                                width: 15rem;
                                height: 15rem;
                                background: rgba($color: #fff, $alpha: 0.6);
                                text-align: center;
                                border-radius: 1rem 0 0 1rem;
                                line-height: 15rem;
                                // border: 1px solid #000;
                                img {
                                    width: 12rem;
                                }
                            }

                            .text_box {
                                width: 15rem;
                                height: 15rem;
                                background: rgba($color: g.$subColor, $alpha: 0.7);
                                border-radius: 0 1rem 1rem 0;
                                @include g.flex($fd: column, $jc: center, $gap: 1rem);
                                // border: 1px solid #000;

                                .title {
                                    font-weight: 500;
                                    color: #fff;
                                }

                                .dc_wrap {
                                    @include g.flex($gap: 1rem);
                                    > span {
                                        font-weight: bold;
                                        color: g.$mainColor;
                                    }
                                    strong {
                                        color: #fff;
                                    }
                                }

                                .price {
                                    font-weight: bold;
                                    color: g.$mainColor;
                                }

                                .price_d {
                                    color: #ccc;
                                    font-size: 1.4rem;
                                    text-decoration: line-through;
                                }
                            }
                        }

                        .item_box_1 {
                            bottom: 20%;
                            transform: translate(-50%, -50%);
                        }

                        .item_box_2 {
                            top: 25%;
                            left: 23%;
                            transform: translate(-50%, -50%);
                        }

                        .item_box_3 {
                            top: 15%;
                            left: 52%;
                            transform: translate(-50%, -50%);
                        }

                        .item_box_4 {
                            top: 40%;
                            left: 70%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }
}
