@use '../../App.scss' as g;

.search_wrap {
    position: fixed;
    width: 100%;
    height: 50rem;
    background: #ddd;
    // background: rgba($color: #eee, $alpha: 0.4);
    padding-top: 8rem;
    top: 0;
    left: 0;
    margin: 0 auto;
    border-radius: 0 0 1rem 1rem;
    z-index: 2000;

    .close_btn {
        position: absolute;
        top: 8%;
        right: 4%;
        img {
            width: 3.2rem;
        }
    }

    .search_top {
        @include g.flex();
        width: 100%;

        .search_input {
            position: relative;
            @include g.flex();
            width: 140rem;
            margin: 0 auto;

            > input {
                width: 100%;
                height: 5rem;
                background: g.$mainColor;
                border-radius: 5rem;
                text-align: left;
                margin: 0 auto;
                border: none;
                padding: 0 4rem;
                line-height: 5rem;
                font-weight: 600;
                color: #fff;

                &::placeholder {
                    color: #fff;
                }
            }

            .search_btn {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }

    .search_bottom {
        position: relative;
        width: 140rem;
        margin: 0 auto;
        @include g.flex($ai: null);
        padding: 4rem 3rem 0;

        .search_left {
            // width: 50%;
            @include g.flex($gap: 18rem);

            .recent_searches_wrap {
                text-align: start;
                h4 {
                    padding-bottom: 2rem;
                }

                .recent_search_list {
                    text-align: start;
                    height: 10rem;
                    font-weight: 700;
                    font-size: 1.2rem;
                }
            }

            .hashtag_wrap {
                text-align: start;
                h4 {
                    padding-bottom: 2rem;
                }
                .hashtag_list {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    height: 10rem;

                    span {
                        a {
                            display: block;
                            width: fit-content;
                            margin: 0.5rem;
                            padding: 0.5rem 2rem;
                            background: #eee;
                            border-radius: 5rem;
                            font-size: 1.2rem;
                            font-weight: 600;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

        .search_right {
            position: absolute;
            top: 6rem;
            right: 3rem;

            a {
                img {
                    height: 20rem;
                }
            }
        }
    }
}
