@use '../../App.scss' as g;

.wish_card_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    padding: 8rem 4rem;
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    background: #eee;
    border-radius: 2rem;

    .wish_card {
        @include g.flex($fd: column, $ai: unset);
        max-width: 20rem;

        .wish_card_imgbox {
            @include g.flex($jc: center, $ai: center);
            width: 25rem;
            height: 25rem;
            border-radius: 1rem;
            border: 1px solid #eee;
            background: white;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                border: 1px solid g.$mainColor;
            }

            img {
                width: 50%;
                height: 50%;
                object-fit: contain;
            }
        }
        .wish_card_textbox {
            width: 25rem;
            padding: 0 1rem;
            cursor: pointer;
            .wish_card_price {
                @include g.flex();
            }
            p {
                :nth-child(2) {
                    color: #9e9e9e;
                    text-decoration: line-through;
                    font-size: 1.4rem;
                }
            }
            .price_bottom {
                color: g.$mainColor;
                font-weight: 600;
            }
        }
    }
}
