@use '../../App.scss' as g;

.content_inner {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 2.5%;
    .title_wrap {
        text-align: center;
    }
    .login_sns_wrap {
        margin: 4rem 0;
    }
}
