// WomenProductCard 컴포넌트 스타일
@use '../../App.scss' as g;

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 2rem 2rem;
<<<<<<< HEAD
<<<<<<< HEAD
    // transition: all 0.3s ease;

    .product-card__color,
    .product-card__size {
        justify-content: flex-start;
        width: 100%;

        /* 항상 보이도록 변경 */
        max-height: none;
        opacity: 1;
        overflow: visible;
        margin-top: 1rem; /* 필요하면 추가 */
        transition: none;
    }
=======
    transition: all 0.3s ease;
>>>>>>> 680e991 (2025-11-17(월) 스와이퍼 적용 완료 - v02)
=======
    transition: all 0.3s ease;
>>>>>>> 138ae27786ad15781f30dd6515dbd1fddf69a230

    &:hover {
        outline: 1px solid #cccccc;
        box-shadow: 0 0 12px 2.5px rgba(0, 0, 0, 0.08);
<<<<<<< HEAD
<<<<<<< HEAD
        // transform: translateY(-0.4rem);

        // .product-card__color,
        // .product-card__size {
        //     max-height: 200px;
        //     opacity: 1;
        //     margin-top: 0;
        // }
=======
        transform: translateY(-0.4rem);
<<<<<<< HEAD
>>>>>>> 680e991 (2025-11-17(월) 스와이퍼 적용 완료 - v02)
=======
=======
        transform: translateY(-0.4rem);
>>>>>>> 138ae27786ad15781f30dd6515dbd1fddf69a230
        
        .product-card__color,
        .product-card__size {
            max-height: 200px;
            opacity: 1;
            margin-top: 0;
        }
<<<<<<< HEAD
>>>>>>> ab0e3cd (2025-11-17(월) 아이템 카드 스르륵 효과 추가)
=======
>>>>>>> 138ae27786ad15781f30dd6515dbd1fddf69a230
    }

    &__img_info_wrap {
        display: block;
        width: 32.8rem;
        height: fit-content;
        background-color: #fff;
<<<<<<< HEAD
<<<<<<< HEAD
        border-radius: 0.8rem;
=======
        border-radius: 0.80rem;
>>>>>>> 680e991 (2025-11-17(월) 스와이퍼 적용 완료 - v02)
=======
        border-radius: 0.80rem;
>>>>>>> 138ae27786ad15781f30dd6515dbd1fddf69a230
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
    }
}
